@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
    @Scripts.Render("~/bundles/dashboard")
}
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            MyWebApp.UI.Dashboard.readyMain();
        });
    </script>
}

@section BreadCrumb
{
    <li>
        <a href='@Url.Content("~/Home/")'>Dashboard</a>
    </li>
}

<div class="page-content">
    <div class="page-header row ">
        <div class="col-sm-6">
            <h1>Dashboard</h1>
        </div>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="space-6">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <span id="spMessage" style="display:none">@TempData["Message"]</span>
                    <div class="infobox-container">
                        <a href='@Url.Content("~/Home/Inbox/0")'>
                            <div class="infobox infobox-blue" style="width:205px">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-envelope"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number" id="AllCount"></span>
                                    <div class="infobox-content">All</div>
                                </div>
                            </div>
                        </a>
                        <a href='@Url.Content("~/Home/Inbox/2")'>
                            <div class="infobox infobox-orange" style="width:205px">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-clock-o bigger-125 orange"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number" id="PendingCount"></span>
                                    <div class="infobox-content">
                                        <span>Pending</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href='@Url.Content("~/Home/Inbox/3")'>
                            <div class="infobox infobox-green" style="width:205px">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-check-square-o"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-text" id="AcceptedCount"></span>
                                    <div class="infobox-content">
                                        <span class="bigger-110">Accepted</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href='@Url.Content("~/Home/Inbox/4")'>
                            <div class="infobox infobox-orange2" style="width:205px">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-close"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number" id="RejectedCount"></span>
                                    <div class="infobox-content">Rejected</div>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                    <br />
                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-flat">
                            <h4 class="widget-title lighter">
                                <i class="ace-icon fa fa-star orange"></i>
                                Latest Pending
                            </h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                <table class="table table-bordered table-striped">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <th>
                                                <i class="ace-icon fa fa-caret-right blue"></i>Roll No
                                            </th>
                                            <th>
                                                <i class="ace-icon fa fa-caret-right blue"></i>Application Name
                                            </th>
                                            <th class="hidden-480">
                                                <i class="ace-icon fa fa-caret-right blue"></i>Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="latestPendingTable"></tbody>
                                </table>
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div><!-- /.widget-box -->
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="widget-box">
                        <div class="widget-body">
                            <div class="widget-main">
                                @*<div id="piechart-placeholder"></div>*@
                                <div id="chartContainer" style="width: 500px; height: 300px; margin: 0 auto"></div>
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div><!-- /.widget-box -->
                </div><!-- /.col -->
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
